In [178]:
import pandas as pd
from collections import Counter
import numpy as np
import time

In [179]:
t = time.localtime()
current_time = time.strftime("%H:%M:%S", t)
print(current_time)

16:08:51

In [180]:
details=pd.read_excel('details.xlsx',index_col=0)

In [181]:
atte=pd.read_excel('attendance.xlsx',index_col=0)

In [182]:
atte

Empty DataFrame
Columns: [Name, Mask, Time-Stamp, Address, Job]
Index: []

In [183]:
details

           Name   Address         Job
Sr. No
1        sachin   xyz/xyz       coder
2        satvik   abc/abc  electronic
3         sania   tty/tty   pata nahi
4       dishant  123/tyuy   kuch nahi

In [184]:
details['Name'].values

array(['sachin', 'satvik', 'sania', 'dishant'], dtype=object)

In [185]:
'sania' in details['Name'].values

True

In [186]:
atte

Empty DataFrame
Columns: [Name, Mask, Time-Stamp, Address, Job]
Index: []

In [189]:
def add_to_list(str_name,atte,details):
    atte=atte
    t = time.localtime()
    current_time = time.strftime("%H:%M:%S", t)
    d=details[details['Name']==str_name]
    d['Time-Stamp']=current_time
#     d['Image']
    a=d.index[0]
    
    return atte.append(d)

In [215]:
atte=add_to_list('sania',atte,details)
xl = pd.ExcelFile('attendance.xlsx')
today = date.today()
if str(today) in xl.sheet_names:
    append_df_to_excel('attendance.xlsx', atte, sheet_name=str(today))
else:
    with pd.ExcelWriter('attendance.xlsx',engine="xlsxwriter",mode='A') as writer:
        atte.to_excel(writer,sheet_name=str(today))
        workbook = writer.book
        worksheet=writer.sheets[str(today)]
        worksheet.insert_image('G1','logo.png',{'x_scale': 0.2, 'y_scale': 0.2})
        writer.save()


    
atte=pd.read_excel('attendance.xlsx',index_col=0)

c:\users\sachi\anaconda3\envs\tensorenv1\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [217]:
import cv2
import pandas as pd

img1 = cv2.imread('1.png')
img2 = cv2.imread('2.png')

df = pd.DataFrame()
df['img'] = [img1] # Wrap image in python list

# Add another row using the "dictionary way"
d2 = {'img': [img2]}
df2 = pd.DataFrame.from_records(d2)
df.append(df2)

                                                 img
0  [[[180, 131, 91], [186, 137, 97], [190, 141, 1...
0  [[[255, 255, 255], [255, 255, 255], [255, 255,...

In [206]:
atte

Empty DataFrame
Columns: [Name, Mask, Time-Stamp, Address, Job]
Index: []

In [204]:
atte=pd.read_excel('attendance.xlsx',index_col=0)

In [48]:
from datetime import date


print("Today's date:", today)

Today's date: 2020-08-27

In [74]:
with pd.ExcelWriter('attendance.xlsx',mode='a') as writer:
    xl = pd.ExcelFile('attendance.xlsx')
    today = date.today()
    if str(today) in xl.sheet_names:
        append_df_to_excel('attendance.xlsx', atte.iloc[1:], sheet_name=str(today))
    else:
        atte.to_excel(writer,sheet_name=str(today))

In [83]:
atte.iloc[0:]

           Name Mask Time-Stamp   Address        Job
Sr. No
4       dishant  NaN   12:39:58  123/tyuy  kuch nahi
1        sachin  NaN   12:51:26   xyz/xyz      coder
4       dishant  NaN   13:01:56  123/tyuy  kuch nahi

In [87]:
xl = pd.ExcelFile('attendance.xlsx')
today = date.today()
if str(today) in xl.sheet_names:
    append_df_to_excel('attendance.xlsx', atte, sheet_name=str(today))
else:
    with pd.ExcelWriter('attendance.xlsx',mode='a') as writer:
        atte.to_excel(writer,sheet_name=str(today))

In [60]:
xl = pd.ExcelFile('attendance.xlsx')

xl.sheet_names  # see all sheet names

['Sheet1', 'Sheet']

In [84]:
def append_df_to_excel(filename, df, sheet_name='Sheet1', startrow=None,
                       truncate_sheet=False, 
                       **to_excel_kwargs):
    """
    Append a DataFrame [df] to existing Excel file [filename]
    into [sheet_name] Sheet.
    If [filename] doesn't exist, then this function will create it.

    Parameters:
      filename : File path or existing ExcelWriter
                 (Example: '/path/to/file.xlsx')
      df : dataframe to save to workbook
      sheet_name : Name of sheet which will contain DataFrame.
                   (default: 'Sheet1')
      startrow : upper left cell row to dump data frame.
                 Per default (startrow=None) calculate the last row
                 in the existing DF and write to the next row...
      truncate_sheet : truncate (remove and recreate) [sheet_name]
                       before writing DataFrame to Excel file
      to_excel_kwargs : arguments which will be passed to `DataFrame.to_excel()`
                        [can be dictionary]

    Returns: None
    """
    from openpyxl import load_workbook

    # ignore [engine] parameter if it was passed
    if 'engine' in to_excel_kwargs:
        to_excel_kwargs.pop('engine')

    writer = pd.ExcelWriter(filename, engine='openpyxl')

    # Python 2.x: define [FileNotFoundError] exception if it doesn't exist 
    try:
        FileNotFoundError
    except NameError:
        FileNotFoundError = IOError


    try:
        # try to open an existing workbook
        writer.book = load_workbook(filename)

        # get the last row in the existing Excel sheet
        # if it was not specified explicitly
        if startrow is None and sheet_name in writer.book.sheetnames:
            startrow = writer.book[sheet_name].max_row

        # truncate sheet
        if truncate_sheet and sheet_name in writer.book.sheetnames:
            # index of [sheet_name] sheet
            idx = writer.book.sheetnames.index(sheet_name)
            # remove [sheet_name]
            writer.book.remove(writer.book.worksheets[idx])
            # create an empty sheet [sheet_name] using old index
            writer.book.create_sheet(sheet_name, idx)

        # copy existing sheets
        writer.sheets = {ws.title:ws for ws in writer.book.worksheets}
    except FileNotFoundError:
        # file does not exist yet, we will create it
        pass

    if startrow is None:
        startrow = 0

    # write out the new sheet
    df.to_excel(writer, sheet_name,header=False, startrow=startrow, **to_excel_kwargs)

    # save the workbook
    writer.save()

In [78]:
append_df_to_excel('attendance.xlsx', atte, sheet_name='Sheet1')

In [158]:
import xlsxwriter
# Create an new Excel file and add a worksheet.
workbook = xlsxwriter.Workbook('test.xlsx')
worksheet = workbook.add_worksheet() # Sheet1
worksheet = workbook.add_worksheet('WorkLog') # WorkLog

In [159]:
worksheet.write(0, 10, 'MicroPyramid')
worksheet.write('A1', 'MicroPyramid')

0

In [156]:

worksheet.insert_image('B5', 'logo.png')
worksheet.insert_image(2, 4, 'logo.png')

In [160]:
workbook.close()

In [161]:
import xlsxwriter

workbook = xlsxwriter.Workbook('test.xlsx')
worksheet = workbook.add_worksheet()

image_width = 140.0
image_height = 182.0

cell_width = 64.0
cell_height = 20.0

x_scale = cell_width/image_width
y_scale = cell_height/image_height

worksheet.insert_image('B2', 'logo.png',
                       {'x_scale': x_scale, 'y_scale': y_scale})

workbook.close()